<div class="molecules-plan">
  <div class="atoms-plan-item">プラン</div>
  <div class="atoms-plan-item">
    <div class="plan-price">5,000</div>
    月額
  </div>
  <div class="atoms-plan-item">入会金</div>
  <div class="atoms-plan-item">平日</div>
  <div class="atoms-plan-item">土日祝</div>
  <div class="atoms-plan-item">備考</div>
</div>
<div class="molecules-plan">
  <div class="atoms-plan-item">プラン</div>
  <div class="atoms-plan-item">
    <div class="plan-price">5,000</div>
    月額
  </div>
  <div class="atoms-plan-item">入会金</div>
  <div class="atoms-plan-item">平日</div>
  <div class="atoms-plan-item">土日祝</div>
  <div class="atoms-plan-item">備考</div>
</div>
