@use "../../variables" as *;
.organisms-cards {
  margin: 0 114px 40px 114px;
  @media screen and (min-width: $breakpoint-md) {
    margin: 0 24px 100px 24px;
  }

  .container-fluid {
    padding: 0;

    .row {
      margin: 0;

      .molecules-card {
        width: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
        background-color: $white-smoke;
        margin-bottom: 40px;
        &:last-of-type {
          margin-bottom: 0;
        }

        @media screen and (min-width: $breakpoint-md) {
          margin-right: 24px;
          margin-bottom: 0;
          &:last-of-type {
            margin-right: 0;
          }
        }

        & > .card-body-1 {
          width: 100%;
          position: relative;
          overflow: hidden;

          & > .card-img {
            width: 100%;
            height: 100%;
            transition: 0.5s ease;
          }

          & > .card-vector {
            border-top: 75px solid $white;
            border-right: 75px solid transparent;
            border-bottom: 75px solid transparent;
            border-left: 75px solid $white;
            position: absolute;
            top: 0px;
            left: 0px;
          }

          & > .card-title {
            position: absolute;
            top: 0px;
            left: 6px;
            margin: 0;
            font-weight: 700;
            font-size: 20px;
            line-height: 28.96px;
            font-family: $fontfamily-gothic;
            color: $orange_bistre;
          }
          @media screen and (min-width: $breakpoint-md) {
            &:hover .card-img {
              transform: scale(1.2);
            }
          }
        }

        & > .card-text {
          margin: 32px;
          line-height: 33px;
          text-indent: 1em;
          font-size: 14px;
          font-family: $fontfamily-gothic;
          color: $black;
        }
        & > a {
          margin-top: auto;
          margin-bottom: 32px;
        }
      }
    }
  }
}
