<header class="header">
  <nav class="navbar navbar-expand-xl navbar-$white bg-$black fixed-top">
    <a href="#" class="navbar-brand">
      <img src="../../../img/header.png" class="header-logo" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#header"
      aria-controls="header"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <img
        src="../../../img/humberger-bar.svg"
        class="humberger"
        alt="humberger"
      />
    </button>

    <div class="collapse navbar-collapse" id="header">
      <ul class="navbar-nav">
        <li class="nav-item"><a href="#" class="nav-link">HOME</a></li>
        <li class="nav-item dropdown concept">
          <a
            class="dropdown-toggle nav-link"
            href="#"
            id="dropdownConcept"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
            >CONCEPT
            <div class="concept-mark">
              <svg
                class="plus-button"
                id="plus-mark"
                width="26"
                height="26"
                viewBox="0 0 26 26"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <circle cx="13" cy="13" r="12.5" stroke="white" />
                <path d="M8 13H18" stroke="white" stroke-width="2" />
                <path d="M13 18V8" stroke="white" stroke-width="2" />
              </svg>
            </div>
          </a>

          <ul class="dropdown-menu" aria-labelledby="dropdownConcept">
            <li class="dropdown-item">
              <a href="#" class="dropdown-link">ブログアーカイブ</a>
            </li>
            <li class="dropdown-item">
              <a href="#" class="dropdown-link">お知らせアーカイブ</a>
            </li>
            <li class="dropdown-item">
              <a href="#" class="dropdown-link">イベントアーカイブ</a>
            </li>
            <li class="dropdown-item">
              <a href="#" class="dropdown-link">インタビューアーカイブ</a>
            </li>
            <li class="dropdown-item">
              <a href="#" class="dropdown-link">FAQページ</a>
            </li>
            <li class="dropdown-item">
              <a href="#" class="dropdown-link">固定ページ(デフォルト)</a>
            </li>
            <li class="dropdown-item">
              <a href="#" class="dropdown-link">CONCEPT</a>
            </li>
            <li class="dropdown-item">
              <a href="#" class="dropdown-link">SERVICE</a>
            </li>
            <li class="dropdown-item">
              <a href="#" class="dropdown-link">FLOOR</a>
            </li>
            <li class="dropdown-item">
              <a href="#" class="dropdown-link">ACCESS</a>
            </li>
          </ul>
        </li>
        <li class="nav-item"><a href="#" class="nav-link">SERVICE</a></li>
        <li class="nav-item"><a href="#" class="nav-link">FLOOR</a></li>
        <li class="nav-item"><a href="#" class="nav-link">INTERVIEW</a></li>
        <li class="nav-item"><a href="#" class="nav-link">BLOG</a></li>
        <li class="nav-item"><a href="#" class="nav-link">ACCESS</a></li>
        <li class="nav-item"><a href="#" class="nav-link">DOWNLOAD</a></li>
      </ul>
    </div>
  </nav>
</header>
