<div class="header">
  <img src="../../../img/header.png" class="header-logo" />
  <ul class="header-links">
    <li class="header-item"><a href="#">HOME</a></li>
    <li class="header-item-concept">
      <a href="#" class="concept">CONCEPT</a>
      <ul class="concept-links">
        <li class="concept-item"><a href="#">ブログアーカイブ</a></li>
        <li class="concept-item"><a href="#">お知らせアーカイブ</a></li>
        <li class="concept-item"><a href="#">イベントアーカイブ</a></li>
        <li class="concept-item"><a href="#">インタビューアーカイブ</a></li>
        <li class="concept-item"><a href="#">FAQページ</a></li>
        <li class="concept-item"><a href="#">固定ページ(デフォルト)</a></li>
        <li class="concept-item"><a href="#">CONCEPT</a></li>
        <li class="concept-item"><a href="#">SERVICE</a></li>
        <li class="concept-item"><a href="#">FLOOR</a></li>
        <li class="concept-item"><a href="#">ACCESS</a></li>
      </ul>
    </li>
    <li class="header-item"><a href="#">SERVICE</a></li>
    <li class="header-item"><a href="#">FLOOR</a></li>
    <li class="header-item"><a href="#">INTERVIEW</a></li>
    <li class="header-item"><a href="#">BLOG</a></li>
    <li class="header-item"><a href="#">ACCESS</a></li>
    <li class="header-item"><a href="#">DOWNLOAD</a></li>
  </ul>
</div>
