<div class="footer">
  <div class="footer-1">
    <img src="../../../img/footer.png" class="footer-logo" />
    <p>
      <span>〒532-0011</span>大阪市淀川区西中島6丁目8-23テスト<br />
      <span>TEL.06-1234-5678 FAX.06-1234-5678</span>
      <span>営業時間/9:00 - 22:00</span>
      定休日/不定休
    </p>
  </div>

  <div class="footer-2">
    <div class="footer-links">
      <a href="#" class="footer-link">HOME</a>
      <a href="#" class="footer-link">CONCEPT</a>
      <a href="#" class="footer-link">SERVICE</a>
      <a href="#" class="footer-link">FLOOR</a>
      <a href="#" class="footer-link">INTERVIEW</a>
      <a href="#" class="footer-link">BLOG</a>
      <a href="#" class="footer-link">ACCESS</a>
      <a href="#" class="footer-link">DOWNROAD</a>
    </div>
  </div>

  <div class="footer-3">
    Copyright ©︎ WordPressテーマ「Switch (t cd063)」All Rights Reserved.
  </div>
</div>
