@use "../../variables" as *;

.news-and-events {
  padding-top: 50px;
  padding-bottom: 15px;
  /*Molecules/Newsにmargin-bottom35pxが設定されているので
  見た目的には上下に余白が５０pxで統一*/
  background-color: $white-smoke;
  margin-bottom: 100px;

  @media screen and(max-width:$breakpoint-lg) {
    padding-bottom: 50px;
    margin-bottom: 40px;
  }
}
